<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :home_description, style: "display: block" %>
    <%= form.text_field :home_description %>
  </div>

  <div>
    <%= form.label :home_type, style: "display: block" %>
    <%= form.text_field :home_type %>
  </div>

  <div>
    <%= form.label :bed, style: "display: block" %>
    <%= form.text_field :bed %>
  </div>

  <div>
    <%= form.label :bath, style: "display: block" %>
    <%= form.text_field :bath %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :sq_feet, style: "display: block" %>
    <%= form.number_field :sq_feet %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.text_field :images %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
