<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Home description:</strong>
    <%= listing.home_description %>
  </p>

  <p>
    <strong>Home type:</strong>
    <%= listing.home_type %>
  </p>

  <p>
    <strong>Bed:</strong>
    <%= listing.bed %>
  </p>

  <p>
    <strong>Bath:</strong>
    <%= listing.bath %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Sq feet:</strong>
    <%= listing.sq_feet %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= listing.images %>
  </p>

</div>
