<div id="<%= dom_id agent %>">
  <p>
    <strong>Full name:</strong>
    <%= agent.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= agent.email %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= agent.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= agent.description %>
  </p>

</div>
